* {
    margin: 0;
    padding: 0;
    font-weight: bold;

}

html {
    --primary-color: #006c00;
    --secondary-color: rgb(39, 39, 39);
    scroll-behavior: smooth;

}

body {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

@media (max-width: 500px) {

    .row {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    
    .title {
        display: flex;
        width: 3rem;
        height: 3rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem auto;
        text-transform: uppercase;
        justify-content: center;
    }
    
    .green-text {
        color: #00ff00;
    }
    
    .dark-background {
        background: var(--secondary-color);
        color: white;
    }
    
    .green-background {
        background-color: var(--primary-color);
        color: white;
    }
    
    .navbar {
        background-color: var(--secondary-color);
        position: fixed;
        max-width: 100%;
        height: 3rem;
        display: flex;
        box-shadow: 0 0rem 0.7rem 0.5rem var(--secondary-color);
        z-index: 3;
    }
    
    .nav-button-container {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        margin: 0 1rem;
        width: 85rem;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-button-container a {
        text-decoration: none;
        background: none;
        border: none;
        text-transform: uppercase;
        color: var(--primary-color);
    
    }
    
    .nav-button-container a:hover {
        transition: all 1s ease-in-out;
        color: white;
        font-size: 1rem;
    }
    
    
    .nav-logo-container {
        display: flex;
        width: 15%;
        height: 3rem;
    }
    
    
    .logo {
        display: flex;
        width: 5rem;
        height: 5rem;
        margin: -25% -20%;
        object-fit: cover;
    }
    
    .intro-section {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 18vh;
        align-items: center;
    
    }

    .whatsapp-container {
        background-color: var(--primary-color);
        max-width: 100%;
        position: fixed;
        display: flex;
        height: 4rem;
        width: 4rem;
        border-radius: 4rem;
        bottom: 1rem;
        right: 1rem;
        z-index: 3;
    }
    
    .whatsapp-link img {
        
        position: fixed;
        height: 4rem;
        z-index: 3;
    }
    
    .whatsapp-link a {
        z-index: 4;
        display: flex;
        position: fixed;
        width: 4rem;
        height: 4rem;
    }
    

    .service-section {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        height: 125vh;
        width: 100%;
        color: var(--primary-color)
    }

    .banner-video {
        display: flex;
        margin-top: 6rem;
        width: 100%; /* width of container */
        height: 18vh; /* height of container */
        object-fit: cover;
    }

    .banner-video-container {
        width: 100%;
        position: relative;
        display: inline-block;
        justify-content: center;
    }


    .banner-title {
        display: flex;
        width: 100%;
        position: absolute;
        margin-top: -35%;
    }

    .service-section {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        padding-bottom: 35%;
        color: var(--primary-color)
    }

    .service-content-container {
        margin: 2rem auto;
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
    }
    
    .service-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 15%;
        align-items: center;
    }
    
    .service-list td {
        margin: 0rem 0.5rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    
    .service-list td img {
        /* border: 0.3rem solid var(--secondary-color); */
        border-radius: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 15vh;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        padding-bottom: 5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--primary-color);
    }
    
    
    .about-content-container {
        margin: 0rem auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url("assets/img/background_about_section.png");
    }
    
    .about-text {
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .about-img img {
        display: flex;
        height: 15vh;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 100%;
    }
    
    .gallery-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-bottom: 10%;
        color: var(--secondary-color);
    }
    
    .gallery-title-container {
        margin-top: 3rem;
        width: 100%;
        text-align: center;
    }
    
    
    .gallery-content-container {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 2rem auto;
        max-width: 100%;
        flex-flow: column; 
        z-index: 1;
    }
    
    .gallery-arrow-image {
        display: flex;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-top: -1.5rem;
        z-index: 0;
    }
    
    .gallery-arrow-warn {
        display: flex;
        color: var(--secondary-color);
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        margin: 0 auto;
        margin-top: 1rem;
        z-index: 1;
    
    }
    
    .gallery-list {
        display: inline-block;
        justify-content: right;
        max-width: 100%;
    }
    
    .gallery-list td img {
        width: 400px;
        border: 0.3rem solid var(--secondary-color);
        border-radius: 1rem;
        margin-top: 0.5rem;
        height: 400px;
    
    }
    
    .contact-section {
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        padding-bottom: 15%;
        color: var(--secondary-color);
    }
    
    .contact-text {
        margin-top: 2rem;
    }
    
    .contact-text p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1.5rem;
    }
    
    .contact-info-td {
        color: rgb(205, 205, 205);
        font-family: 'Open Sans', sans-serif;
        font-size: 80%;
        font-weight: lighter;
        font-style: italic;
    }

}

@media (min-width: 500px) and (max-width: 700px) {
    .row {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    
    .title {
        display: flex;
        width: 3rem;
        height: 3rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem auto;
        text-transform: uppercase;
        justify-content: center;
    }
    
    .green-text {
        color: #00ff00;
    }
    
    .dark-background {
        background: var(--secondary-color);
        color: white;
    }
    
    .green-background {
        background-color: var(--primary-color);
        color: white;
    }
    
    .navbar {
        background-color: var(--secondary-color);
        position: fixed;
        max-width: 100%;
        height: 3rem;
        display: flex;
        box-shadow: 0 0rem 0.7rem 0.5rem var(--secondary-color);
        z-index: 3;
    }
    
    .nav-button-container {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        margin: 0 1rem;
        width: 85rem;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-button-container a {
        text-decoration: none;
        background: none;
        border: none;
        text-transform: uppercase;
        color: var(--primary-color);
    
    }
    
    .nav-button-container a:hover {
        transition: all 1s ease-in-out;
        color: white;
        font-size: 1rem;
    }
    
    
    .nav-logo-container {
        display: flex;
        width: 15%;
        height: 3rem;
    }
    
    
    .logo {
        display: flex;
        width: 5rem;
        height: 5rem;
        margin: -25% -20%;
        object-fit: cover;
    }
    
    .intro-section {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 14vh;
        align-items: center;
    
    }
    
    .whatsapp-container {
        background-color: var(--primary-color);
        position: fixed;
        display: flex;
        height: 4rem;
        width: 4rem;
        bottom: 1rem;
        right: 1rem;
        border-radius: 4rem;
        z-index: 3;
    }
    
    .whatsapp-link img {
        position: fixed;
        height: 4rem;
        z-index: 3;
    }
    
    .whatsapp-link a {
        z-index: 4;
        display: flex;
        position: fixed;
        width: 4rem;
        height: 4rem;
    }
    

    .banner-video {
        display: flex;
        margin-top: 15rem;
        width: 100%; /* width of container */
        height: 30vh; /* height of container */
        object-fit: cover;
    }

    .banner-video-container {
        width: 100%;
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;

    }

    .home-title-container {
        display: flex;
        width: 100%;
        height: 1vh;
        justify-content: center;
        align-items: center;
    }


    .banner-title {
        display: flex;
        width: 500px;
        max-width: 500px;
        position: absolute;
        margin-top: -35%;
        
    }

    .service-section {
        margin-top: 11.9rem;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        padding-bottom: 35%;
        color: var(--primary-color)
    }

    .service-content-container {
        margin: 2rem auto;
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
    }
    
    .service-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 20%;
        align-items: center;
    }
    
    .service-list td {
        margin: 0rem 0.5rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    
    .service-list td img {
        /* border: 0.3rem solid var(--secondary-color); */
        border-radius: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 15vh;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        padding-bottom: 5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--primary-color);
    }
    
    
    .about-content-container {
        margin: 0rem auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url("assets/img/background_about_section.png");
    }
    
    .about-text {
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .about-img img {
        display: flex;
        height: 15vh;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 100%;
    }
    
    .gallery-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-bottom: 10%;
        color: var(--secondary-color);
    }
    
    .gallery-title-container {
        margin-top: 3rem;
        width: 100%;
        text-align: center;
    }
    
    
    .gallery-content-container {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 2rem auto;
        max-width: 100%;
        flex-flow: column; 
        z-index: 1;
    }
    
    .gallery-arrow-image {
        display: flex;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-top: -1.5rem;
        z-index: 0;
    }
    
    .gallery-arrow-warn {
        display: flex;
        color: var(--secondary-color);
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        margin: 0 auto;
        margin-top: 1rem;
        z-index: 1;
    
    }
    
    .gallery-list {
        display: inline-block;
        justify-content: right;
        max-width: 100%;
    }
    
    .gallery-list td img {
        width: 400px;
        border: 0.3rem solid var(--secondary-color);
        border-radius: 1rem;
        margin-top: 0.5rem;
        height: 400px;
    
    }
    
    .contact-section {
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        padding-bottom: 15%;
        color: var(--secondary-color);
    }
    
    .contact-text {
        margin-top: 2rem;
    }
    
    .contact-text p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1.5rem;
    }
    
    .contact-info-td {
        color: rgb(205, 205, 205);
        font-family: 'Open Sans', sans-serif;
        font-size: 80%;
        font-weight: lighter;
        font-style: italic;
    }

}

@media (min-width: 700px) and (max-width: 900px) {
    .row {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    
    .title {
        display: flex;
        width: 3rem;
        height: 3rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem auto;
        text-transform: uppercase;
        justify-content: center;
    }
    
    .green-text {
        color: #00ff00;
    }
    
    .dark-background {
        background: var(--secondary-color);
        color: white;
    }
    
    .green-background {
        background-color: var(--primary-color);
        color: white;
    }
    
    .navbar {
        background-color: var(--secondary-color);
        position: fixed;
        max-width: 100%;
        height: 3rem;
        display: flex;
        box-shadow: 0 0rem 0.7rem 0.5rem var(--secondary-color);
        z-index: 3;
    }
    
    .nav-button-container {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        margin: 0 1rem;
        width: 85rem;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-button-container a {
        text-decoration: none;
        background: none;
        border: none;
        text-transform: uppercase;
        color: var(--primary-color);
    
    }
    
    .nav-button-container a:hover {
        transition: all 1s ease-in-out;
        color: white;
        font-size: 1rem;
    }
    
    
    .nav-logo-container {
        display: flex;
        width: 15%;
        height: 3rem;
    }
    
    
    .logo {
        display: flex;
        width: 5rem;
        height: 5rem;
        margin: -25% -20%;
        object-fit: cover;
    }
    
    .intro-section {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 14vh;
        align-items: center;
    
    }
    
    .whatsapp-container {
        background-color: var(--primary-color);
        position: fixed;
        display: flex;
        height: 5rem;
        width: 5rem;
        bottom: 1rem;
        right: 1rem;
        border-radius: 4rem;
        z-index: 3;
    }
    
    .whatsapp-link img {
        position: fixed;
        height: 5rem;
        z-index: 3;
    }
    
    .whatsapp-link a {
        z-index: 4;
        display: flex;
        position: fixed;
        width: 5rem;
        height: 5rem;
    }
    

    .banner-video {
        display: flex;
        margin-top: 15.5rem;
        width: 100%; /* width of container */
        height: 33vh; /* height of container */
        object-fit: cover;
    }

    .banner-video-container {
        width: 100%;
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;

    }

    .home-title-container {
        display: flex;
        width: 100%;
        height: 1vh;
        justify-content: center;
        align-items: center;
    }


    .banner-title {
        display: flex;
        width: 500px;
        max-width: 500px;
        position: absolute;
        margin-top: -30%;
        
    }

    .service-section {
        margin-top: 11.9rem;
        display: flex;
        flex-direction: column;
        height: 120vh;
        width: 100%;
        max-width: 100%;
        padding-bottom: 25%;
        color: var(--primary-color)
    }

    .service-content-container {
        margin: 2rem auto;
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
    }
    
    .service-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 20%;
        align-items: center;
    }
    
    .service-list td {
        margin: 0rem 0.5rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    
    .service-list td img {
        /* border: 0.3rem solid var(--secondary-color); */
        border-radius: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 20vh;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        padding-bottom: 5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--primary-color);
    }
    
    
    .about-content-container {
        margin: 0rem auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url("assets/img/background_about_section.png");
    }
    
    .about-text {
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .about-img img {
        display: flex;
        height: 15vh;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 100%;
    }
    
    .gallery-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-bottom: 10%;
        color: var(--secondary-color);
    }
    
    .gallery-title-container {
        margin-top: 3rem;
        width: 100%;
        text-align: center;
    }
    
    
    .gallery-content-container {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 2rem auto;
        max-width: 100%;
        flex-flow: column; 
        z-index: 1;
    }
    
    .gallery-arrow-image {
        display: flex;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-top: -1.5rem;
        z-index: 0;
    }
    
    .gallery-arrow-warn {
        display: flex;
        color: var(--secondary-color);
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        margin: 0 auto;
        margin-top: 1rem;
        z-index: 1;
    
    }
    
    .gallery-list {
        display: inline-block;
        justify-content: right;
        max-width: 100%;
    }
    
    .gallery-list td img {
        width: 400px;
        border: 0.3rem solid var(--secondary-color);
        border-radius: 1rem;
        margin-top: 0.5rem;
        height: 400px;
    
    }
    
    .contact-section {
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        padding-bottom: 15%;
        color: var(--secondary-color);
    }
    
    .contact-text {
        margin-top: 2rem;
    }
    
    .contact-text p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1.5rem;
    }
    
    .contact-info-td {
        color: rgb(205, 205, 205);
        font-family: 'Open Sans', sans-serif;
        font-size: 80%;
        font-weight: lighter;
        font-style: italic;
    }

}

@media (min-width: 900px) and (max-width: 1100px) {
    .row {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    
    .title {
        display: flex;
        width: 3rem;
        height: 3rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem auto;
        text-transform: uppercase;
        justify-content: center;
    }
    
    .green-text {
        color: #00ff00;
    }
    
    .dark-background {
        background: var(--secondary-color);
        color: white;
    }
    
    .green-background {
        background-color: var(--primary-color);
        color: white;
    }
    
    .navbar {
        background-color: var(--secondary-color);
        position: fixed;
        max-width: 100%;
        height: 3rem;
        display: flex;
        box-shadow: 0 0rem 0.7rem 0.5rem var(--secondary-color);
        z-index: 3;
    }
    
    .nav-button-container {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        margin: 0 1rem;
        width: 85rem;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-button-container a {
        text-decoration: none;
        background: none;
        border: none;
        text-transform: uppercase;
        color: var(--primary-color);
    
    }
    
    .nav-button-container a:hover {
        transition: all 1s ease-in-out;
        color: white;
        font-size: 1rem;
    }
    
    
    .nav-logo-container {
        display: flex;
        width: 15%;
        height: 3rem;
    }
    
    
    .logo {
        display: flex;
        width: 5rem;
        height: 5rem;
        margin: -25% -20%;
        object-fit: cover;
    }
    
    .intro-section {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 14vh;
        align-items: center;
    
    }
    
    .whatsapp-container {
        background-color: var(--primary-color);
        position: fixed;
        display: flex;
        height: 6rem;
        width: 6rem;
        bottom: 1rem;
        right: 1rem;
        border-radius: 4rem;
        z-index: 3;
    }
    
    .whatsapp-link img {
        position: fixed;
        height: 6rem;
        z-index: 3;
    }
    
    .whatsapp-link a {
        z-index: 4;
        display: flex;
        position: fixed;
        width: 6rem;
        height: 6rem;
    }
    

    .banner-video {
        display: flex;
        margin-top: 15.5rem;
        width: 100%; /* width of container */
        height: 33vh; /* height of container */
        object-fit: cover;
    }

    .banner-video-container {
        width: 100%;
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;

    }

    .home-title-container {
        display: flex;
        width: 100%;
        height: 1vh;
        justify-content: center;
        align-items: center;
    }


    .banner-title {
        display: flex;
        width: 500px;
        max-width: 500px;
        position: absolute;
        margin-top: -20%;
        
    }

    .service-section {
        margin-top: 11.9rem;
        display: flex;
        flex-direction: column;
        height: 120vh;
        width: 100%;
        max-width: 100%;
        padding-bottom: 25%;
        color: var(--primary-color)
    }

    .service-content-container {
        margin: 2rem auto;
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
    }
    
    .service-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 20%;
        align-items: center;
    }
    
    .service-list td {
        margin: 0rem 0.5rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    
    .service-list td img {
        /* border: 0.3rem solid var(--secondary-color); */
        border-radius: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 20vh;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        padding-bottom: 5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--primary-color);
    }
    
    
    .about-content-container {
        margin: 0rem auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url("assets/img/background_about_section.png");
    }
    
    .about-text {
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .about-img img {
        display: flex;
        height: 15vh;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 100%;
    }
    
    .gallery-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-bottom: 10%;
        color: var(--secondary-color);
    }
    
    .gallery-title-container {
        margin-top: 3rem;
        width: 100%;
        text-align: center;
    }
    
    
    .gallery-content-container {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 2rem auto;
        max-width: 100%;
        flex-flow: column; 
        z-index: 1;
    }
    
    .gallery-arrow-image {
        display: flex;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-top: -1.5rem;
        z-index: 0;
    }
    
    .gallery-arrow-warn {
        display: flex;
        color: var(--secondary-color);
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        margin: 0 auto;
        margin-top: 1rem;
        z-index: 1;
    
    }
    
    .gallery-list {
        display: inline-block;
        justify-content: right;
        max-width: 100%;
    }
    
    .gallery-list td img {
        width: 400px;
        border: 0.3rem solid var(--secondary-color);
        border-radius: 1rem;
        margin-top: 0.5rem;
        height: 400px;
    
    }
    
    .contact-section {
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        padding-bottom: 15%;
        color: var(--secondary-color);
    }
    
    .contact-text {
        margin-top: 2rem;
    }
    
    .contact-text p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 110%;
        font-weight: lighter;
    }
    
    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1.5rem;
    }
    
    .contact-info-td {
        color: rgb(205, 205, 205);
        font-family: 'Open Sans', sans-serif;
        font-size: 80%;
        font-weight: lighter;
        font-style: italic;
    }

}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
/*